json/Bird_Feeder_Monitor_Flow.json
[
    {
        "id": "3054a26.037695e",
        "type": "tab",
        "label": "Bird Feeder Monitor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a78671de.c0413",
        "type": "mqtt in",
        "z": "3054a26.037695e",
        "name": "",
        "topic": "monitor/feeder/#",
        "qos": "1",
        "broker": "6741f112.8a607",
        "x": 160,
        "y": 820,
        "wires": [
            [
                "a5452d80.d4937",
                "7e6d8628.56c708",
                "812718c8.28b438"
            ]
        ]
    },
    {
        "id": "1e646ab3.4809d5",
        "type": "debug",
        "z": "3054a26.037695e",
        "name": "MQTT Receiver",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 840,
        "y": 820,
        "wires": []
    },
    {
        "id": "67ad44bc.e9835c",
        "type": "bigtimer",
        "z": "3054a26.037695e",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Dawn & Dusk Timer (config)",
        "comment": "",
        "lat": "29.5753",
        "lon": "-95.5799",
        "starttime": "5000",
        "endtime": "5001",
        "startoff": "0",
        "endoff": "0",
        "offs": "0",
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 420,
        "y": 140,
        "wires": [
            [],
            [
                "d94ff544.e40898",
                "3b1d4527.a6ec1a"
            ],
            []
        ]
    },
    {
        "id": "995c1192.f84a6",
        "type": "debug",
        "z": "3054a26.037695e",
        "name": "Timer Msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1010,
        "y": 180,
        "wires": []
    },
    {
        "id": "21d84b93.f57804",
        "type": "mqtt out",
        "z": "3054a26.037695e",
        "name": "MQTT Publish",
        "topic": "",
        "qos": "1",
        "retain": "",
        "broker": "6741f112.8a607",
        "x": 1080,
        "y": 460,
        "wires": []
    },
    {
        "id": "b3b0b917.1f1d68",
        "type": "darksky in",
        "z": "3054a26.037695e",
        "darksky": "",
        "name": "DarkSky (config)",
        "key": "",
        "lon": "-95.5799",
        "lat": "29.5753",
        "date": "",
        "time": "",
        "lang": "en",
        "units": "us",
        "x": 180,
        "y": 660,
        "wires": [
            [
                "fad8180e.710308",
                "89428f45.6072f"
            ]
        ]
    },
    {
        "id": "aa063288.e31b6",
        "type": "debug",
        "z": "3054a26.037695e",
        "name": "Darksky Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 680,
        "y": 640,
        "wires": []
    },
    {
        "id": "62c473ed.03cdfc",
        "type": "ui_button",
        "z": "3054a26.037695e",
        "name": "",
        "group": "4db88682.ccd1e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "On",
        "color": "",
        "bgcolor": "",
        "icon": "check_circle",
        "payload": "on",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "67ad44bc.e9835c"
            ]
        ]
    },
    {
        "id": "ffc4f206.4e132",
        "type": "ui_button",
        "z": "3054a26.037695e",
        "name": "",
        "group": "4db88682.ccd1e8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Off",
        "color": "",
        "bgcolor": "",
        "icon": "highlight_off",
        "payload": "off",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "67ad44bc.e9835c"
            ]
        ]
    },
    {
        "id": "d94ff544.e40898",
        "type": "function",
        "z": "3054a26.037695e",
        "name": "monitor/feeder/astronomy (config)",
        "func": "// Change localOffset to match number minutes difference in your time and UTC time\n// Enable/Disable picture taking for individual perches\nmsg.payload = {localOffset:360,perch_0:1,perch_1:1,perch_2:1,perch_3:0,perch_4:0,perch_5:1,perch_6:0,perch_7:0,state:msg.state,dawn:msg.start,dusk:msg.end,now:msg.now};\nmsg.topic = \"monitor/feeder/astronomy\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 180,
        "wires": [
            [
                "21d84b93.f57804",
                "995c1192.f84a6"
            ]
        ]
    },
    {
        "id": "4bac4336.27254c",
        "type": "comment",
        "z": "3054a26.037695e",
        "name": "Manual Control Buttons for Feeder",
        "info": "Send mqtt publication to take picture",
        "x": 240,
        "y": 400,
        "wires": []
    },
    {
        "id": "b4163336.3eaa4",
        "type": "comment",
        "z": "3054a26.037695e",
        "name": "Subscribe to monitor/feeder/# topics",
        "info": "Look at all mqtt traffic for topic monitor/feeder",
        "x": 220,
        "y": 780,
        "wires": []
    },
    {
        "id": "229d9060.4f596",
        "type": "comment",
        "z": "3054a26.037695e",
        "name": "Get weather for precipitation",
        "info": "Every 15 minutes get current weather conditions.",
        "x": 220,
        "y": 600,
        "wires": []
    },
    {
        "id": "b5d543f4.61393",
        "type": "ui_button",
        "z": "3054a26.037695e",
        "name": "",
        "group": "4db88682.ccd1e8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Take Photo",
        "color": "",
        "bgcolor": "",
        "icon": "camera",
        "payload": "{\"message\":\"smile-manual\",\"perch\":0}",
        "payloadType": "str",
        "topic": "monitor/feeder/picture",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "21d84b93.f57804"
            ]
        ]
    },
    {
        "id": "80a44735.a21fe8",
        "type": "comment",
        "z": "3054a26.037695e",
        "name": "Dawn & Dusk Timer",
        "info": "Provides the ON & OFF timer and astronomy data \n(dawn and dusk).",
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "9c9ebe54.8761f",
        "type": "inject",
        "z": "3054a26.037695e",
        "name": "Counter Timer (config)",
        "topic": "monitor/feeder/getcount",
        "payload": "1",
        "payloadType": "num",
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "1c85fb8c.4de7a4"
            ]
        ]
    },
    {
        "id": "1c85fb8c.4de7a4",
        "type": "switch",
        "z": "3054a26.037695e",
        "name": "Timer Switch",
        "property": "daytime",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 320,
        "wires": [
            [
                "21d84b93.f57804"
            ]
        ]
    },
    {
        "id": "3b1d4527.a6ec1a",
        "type": "function",
        "z": "3054a26.037695e",
        "name": "flow.daytime variable",
        "func": "if (msg.state.search('ON')!=-1) {\n    flow.set(\"daytime\",1);\n}\nelse {\n    flow.set(\"daytime\",0);\n    flow.set(\"bird_count\",0);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "9dda2e80.2e375",
        "type": "comment",
        "z": "3054a26.037695e",
        "name": "Timer for Bird Count",
        "info": "",
        "x": 190,
        "y": 280,
        "wires": []
    },
    {
        "id": "a5452d80.d4937",
        "type": "switch",
        "z": "3054a26.037695e",
        "name": "monitor/feeder/count",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "monitor/feeder/count",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 920,
        "wires": [
            [
                "91443219.b7e34"
            ]
        ]
    },
    {
        "id": "91443219.b7e34",
        "type": "json",
        "z": "3054a26.037695e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 920,
        "wires": [
            [
                "b931a571.0ed388"
            ]
        ]
    },
    {
        "id": "fad8180e.710308",
        "type": "function",
        "z": "3054a26.037695e",
        "name": "monitor/feeder/recalibrate (config)",
        "func": "// Configure the precipitation intensity figure to desired limit.\nif (msg.data.currently.precipIntensity > 0.001){\n    msg.payload=1;\n}\nelse {\n    msg.payload=0;\n}\nmsg.topic = \"monitor/feeder/recalibrate\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 700,
        "wires": [
            [
                "affc2635.bf6cf8"
            ]
        ]
    },
    {
        "id": "affc2635.bf6cf8",
        "type": "switch",
        "z": "3054a26.037695e",
        "name": "If Precipitation",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 720,
        "y": 700,
        "wires": [
            [
                "916a6640.7c6d18",
                "21d84b93.f57804"
            ]
        ]
    },
    {
        "id": "916a6640.7c6d18",
        "type": "debug",
        "z": "3054a26.037695e",
        "name": "Precipitation Msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 950,
        "y": 700,
        "wires": []
    },
    {
        "id": "5f3578c9.f24608",
        "type": "comment",
        "z": "3054a26.037695e",
        "name": "Send data to Database",
        "info": "Pushes data to my Google spreed sheet \nor local database.",
        "x": 400,
        "y": 880,
        "wires": []
    },
    {
        "id": "c28d58d6.e72f48",
        "type": "ui_button",
        "z": "3054a26.037695e",
        "name": "",
        "group": "4db88682.ccd1e8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Recalibrate Sensors",
        "color": "",
        "bgcolor": "",
        "icon": "cached",
        "payload": "1",
        "payloadType": "str",
        "topic": "monitor/feeder/recalibrate",
        "x": 200,
        "y": 480,
        "wires": [
            [
                "21d84b93.f57804"
            ]
        ]
    },
    {
        "id": "7986a2da.97da5c",
        "type": "function",
        "z": "3054a26.037695e",
        "name": "Build Google Docs Payload (config)",
        "func": "// Configure each entry to match YOUR Google form entries\nvar message=`entry.183061358=${msg.payload.cnt1}&entry.1960738117=${msg.payload.time1}&entry.690435711=${msg.payload.cnt1}&entry.653996136=${msg.payload.time1}&entry.878634910=${msg.payload.cnt3}&entry.1097078749=${msg.payload.time3}&entry.719013080=${msg.payload.cnt4}&entry.507406403=${msg.payload.time4}&entry.854516385=${msg.payload.cnt5}&entry.1167797610=${msg.payload.time5}&entry.1016951114=${msg.payload.cnt6}&entry.54310919=${msg.payload.time6}&&submit=Submit`;\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 1000,
        "wires": [
            [
                "e5e3bfcd.0059b"
            ]
        ]
    },
    {
        "id": "72666c5f.b19214",
        "type": "debug",
        "z": "3054a26.037695e",
        "name": "Google Docs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "statusCode",
        "x": 1250,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e5e3bfcd.0059b",
        "type": "http request",
        "z": "3054a26.037695e",
        "name": "Google Docs GET (config)",
        "method": "GET",
        "ret": "txt",
        "url": "https://docs.google.com/forms/d/your_google_drive_folder_ID/formResponse?{{{payload}}}",
        "tls": "",
        "x": 1020,
        "y": 1000,
        "wires": [
            [
                "72666c5f.b19214"
            ]
        ]
    },
    {
        "id": "7e6d8628.56c708",
        "type": "switch",
        "z": "3054a26.037695e",
        "name": "monitor/feeder/picture",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "monitor/feeder/picture",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 1120,
        "wires": [
            [
                "a0998268.0cd1b"
            ]
        ]
    },
    {
        "id": "935b68bc.162518",
        "type": "ui_audio",
        "z": "3054a26.037695e",
        "name": "",
        "group": "4db88682.ccd1e8",
        "voice": "en-GB",
        "always": true,
        "x": 1040,
        "y": 1120,
        "wires": []
    },
    {
        "id": "b6eb23ce.4c3f5",
        "type": "function",
        "z": "3054a26.037695e",
        "name": "Smile Message and Counter",
        "func": "var message = `${msg.payload.message}`;\nvar cnt = flow.get('bird_count');\nmsg.payload = message;\nif (flow.bird_count===undefined) //test exists\n{\n  flow.set('bird_count',0);\n}\nflow.set('bird_count',cnt+=1);\nmsg.bird_count = flow.get('bird_count');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 1120,
        "wires": [
            [
                "935b68bc.162518",
                "542e5e27.2d685",
                "cd117cb6.18395"
            ]
        ]
    },
    {
        "id": "beb1eb8e.ae14a8",
        "type": "comment",
        "z": "3054a26.037695e",
        "name": "Notify Audibly if Bird on Feeder",
        "info": "",
        "x": 430,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a0998268.0cd1b",
        "type": "json",
        "z": "3054a26.037695e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 1120,
        "wires": [
            [
                "b6eb23ce.4c3f5"
            ]
        ]
    },
    {
        "id": "fa9c4ba4.c55d08",
        "type": "ui_button",
        "z": "3054a26.037695e",
        "name": "",
        "group": "4db88682.ccd1e8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Make Movie",
        "color": "",
        "bgcolor": "",
        "icon": "local_movies",
        "payload": "Movie Time",
        "payloadType": "str",
        "topic": "monitor/feeder/makemovie",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "21d84b93.f57804"
            ]
        ]
    },
    {
        "id": "9849848.e5e6678",
        "type": "ui_button",
        "z": "3054a26.037695e",
        "name": "",
        "group": "4db88682.ccd1e8",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Gauge",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 1220,
        "wires": [
            [
                "da25294c.4e7658"
            ]
        ]
    },
    {
        "id": "da25294c.4e7658",
        "type": "function",
        "z": "3054a26.037695e",
        "name": "msg.bird_count=0",
        "func": "flow.set('bird_count',0);\nmsg.bird_count = flow.get('bird_count');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 1220,
        "wires": [
            [
                "542e5e27.2d685"
            ]
        ]
    },
    {
        "id": "f051139a.40a7c",
        "type": "comment",
        "z": "3054a26.037695e",
        "name": "Manually Reset Gauge Counter",
        "info": "",
        "x": 430,
        "y": 1180,
        "wires": []
    },
    {
        "id": "812718c8.28b438",
        "type": "function",
        "z": "3054a26.037695e",
        "name": "Topic Filter for MQTT Receiver Debug Node (config)",
        "func": "if (msg.topic != 'monitor/feeder/astronomy' && msg.topic != 'monitor/feeder/getcount'){\n    return msg;\n}\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 820,
        "wires": [
            [
                "1e646ab3.4809d5"
            ]
        ]
    },
    {
        "id": "70b751b5.8fb",
        "type": "ui_button",
        "z": "3054a26.037695e",
        "name": "",
        "group": "4db88682.ccd1e8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Auto",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "auto",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "67ad44bc.e9835c"
            ]
        ]
    },
    {
        "id": "542e5e27.2d685",
        "type": "ui_text",
        "z": "3054a26.037695e",
        "group": "4db88682.ccd1e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Bird Count",
        "label": "Total:",
        "format": "{{msg.bird_count}}",
        "layout": "row-spread",
        "x": 1050,
        "y": 1220,
        "wires": []
    },
    {
        "id": "b931a571.0ed388",
        "type": "function",
        "z": "3054a26.037695e",
        "name": "Bird Feeder Data Parser",
        "func": "msg.payload = {\n    name: msg.payload.name,\n    count_1: msg.payload.cnt1,\n    time_1: msg.payload.time1,\n    count_2: msg.payload.cnt2,\n    time_2: msg.payload.time2,\n    count_3: msg.payload.cnt3,\n    time_3: msg.payload.time3,\n    count_4: msg.payload.cnt4,\n    time_4: msg.payload.time4,\n\tcount_5: msg.payload.cnt5,\n\ttime_5: msg.payload.time5,\n\tcount_6: msg.payload.cnt6,\n\ttime_6: msg.payload.time6,\n\tprecip_Int:flow.get(\"precipIntensity\")||0,\n\ttemp:flow.get(\"temperature\")||0,\n\thumidity:flow.get(\"humidity\")||0,\n\twindspeed:flow.get(\"windSpeed\")||0,\n\twindgust:flow.get(\"windGust\")||0,\n\twinddir:flow.get(\"windBearing\")||0,\n\tcloudcover:flow.get(\"cloudCover\")||0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 920,
        "wires": [
            [
                "25a0d9e3.91dbc6"
            ]
        ]
    },
    {
        "id": "25a0d9e3.91dbc6",
        "type": "influxdb out",
        "z": "3054a26.037695e",
        "influxdb": "84a7ea1c.4f4508",
        "name": "Bird Feeder Database",
        "measurement": "feeders",
        "precision": "s",
        "retentionPolicy": "",
        "x": 1080,
        "y": 920,
        "wires": []
    },
    {
        "id": "89428f45.6072f",
        "type": "function",
        "z": "3054a26.037695e",
        "name": "Weather Variables",
        "func": "flow.set(\"precipIntensity\",msg.data.currently.precipIntensity);\nflow.set(\"temperature\",msg.data.currently.temperature);\nflow.set(\"humidity\",msg.data.currently.humidity);\nflow.set(\"windSpeed\",msg.data.currently.windSpeed);\nflow.set(\"windBearing\",msg.data.currently.windBearing);\nflow.set(\"windGust\",msg.data.currently.windGust);\nflow.set(\"cloudCover\",msg.data.currently.cloudCover);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 640,
        "wires": [
            [
                "aa063288.e31b6"
            ]
        ]
    },
    {
        "id": "cd117cb6.18395",
        "type": "debug",
        "z": "3054a26.037695e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1030,
        "y": 1060,
        "wires": []
    },
    {
        "id": "6741f112.8a607",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "10.0.0.211",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "monitor",
        "birthQos": "0",
        "birthPayload": "Hello",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4db88682.ccd1e8",
        "type": "ui_group",
        "z": "",
        "name": "Bird Feeder Monitor",
        "tab": "9a679a1d.75cb98",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "84a7ea1c.4f4508",
        "type": "influxdb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "BIRD_FEEDER_MONITOR",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "9a679a1d.75cb98",
        "type": "ui_tab",
        "z": "",
        "name": "Dashboard",
        "icon": "settings",
        "order": 1
    }
]
